/* navbar start */

.hello_world{
    background-color: rgb(253, 223, 223);
}


#sign{
    color: #fff;
    background-color: 	#d2691e;
    border-color:#d2691e;
 
}
#notification{
    color: #fff;
    background-color: 	#d2691e;
    border-color:#d2691e;
    padding:2px;
    font-size:.5rem;
     
}


.welcomefood{
    background-color: #fae9dd;
    
}

.hiyafood{
    color: #d2691e;  
}
.orderfood{
    color: #fff;
    background-color: 	#d2691e;
    font-size: 15px;
    padding: 10px 20px;
}


.features{
    background-color: #fcfcfc;
}
.headlinetext{
    color: #d2691e; 
}

.qualityfood{
    color: #e5faeb;
    background-color: 	#d2691e;
    border-color:#d2691e;
    padding:2px;
    
}

.treaty{
    background-color: #ffe9e9;
}

.fontuser{
        font-size: 60px;  
}

.userinterface{
background-color:#defde7; 
}



#inputtype{
    background-color: #fdf8f2;
}

